{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/transform-runtime"
  ]
}
