<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div id="homework-container">
    {{> "./cookie-content.hbs"}}
</div>
</body>
</html>
