{{#each friends}}
    <li class="friends__item friend draggable" data-id="{{id}}">
        <img class="friend__photo" src="{{photo_100}}">
        <div class="friend__name">{{first_name}} {{last_name}}</div>
        <i class="friend__action">&#xf067;</i>
    </li>
{{/each}}