@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans/FiraSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans/FiraSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans/FiraSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans/FiraSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fontawesome-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}